@use './mixin';

.caja{
    width: 100%;
    @include mixin.flex-center;
    width: 99%;
    justify-content: center;
    .box{
        background-color: #b3aeae50;
        @include mixin.flex-center;
        box-shadow: 1px 1px 1px 1px  rgba(193, 186, 186, 0.4);
        align-items: center;
        flex-direction: column;
        width: 300px;
        margin: 20px;
        .minititulo{
            padding-top: 50px;
            text-align: center;
            }
        }
    }

.icono{
    margin-top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(192, 203, 199);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(55, 18, 240);
}
.h4{
    text-align: center;
}
.parrafo{
    text-align: center;
}

@media screen and (max-width: 550px) {
    .caja{
        flex-direction: column;
        align-items: center;
    }
}