@use './variables';
@use './mixin';
.perfume{
    position: absolute;
    bottom: 10%;
    left: 100px;
    background-color: transparent;
    z-index: 9;
    padding: 3px 20px;
    border: 2px solid variables.$yellow-accent;
    border-radius: 5px;
        }
.buton{
    text-decoration: none;
    color: variables.$yellow-accent;
}

@media screen and (max-width:600px) {
    .perfume{
        padding: 3px 6px;
        font-size: 14px;
        position: absolute;
        bottom: 10%;
        left: 7%;
        
    }
}

.div-conteiner{
    overflow: hidden;
    margin: auto;
    width: 80%;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
    .div-img{
        display: flex;
        gap: 20px;
        width: max-content;
        animation: animate 20s linear infinite;
        .carrusel{
            min-width: 18px;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
            transition: transform 0.2s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@keyframes animate {
    to {
        transform: translateX(-50%);
    }
}




