

.footer{ 
    background-color:#000;
    box-sizing: border-box;
    display: flex;
    color: #0913e1;
    .logo{
            width: 64px;
            height: 64px;
            margin: 5px;
        }
        .copy{
            font-size: 10px;
            margin: auto;
            color: aliceblue;
            text-align: center;
    }
}