@use'./variables';

.footer{ 
    background-color:variables.$variable-blue;
    color: #0913e1;
    text-align: center;
    .logo{
            width: 64px;
            height: 64px;
            margin: 5px;
        }
        .copy{
            font-size: 18px;
            margin: 5px ;
    }
}