@use './mixin';

.imagen-box{
    width: 100%;
    @include mixin.flex-center;
    position: relative;
    }
    .titulo{
        position: absolute;
        top: 20%;
        left: 5%;
        z-index: 1;
        color:aliceblue;
        .blue{
            color: #7dd3fc;
        }
    }
    .img1{
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.imagen-mujer{
    width: 100%;
    @include mixin.flex-center;
    .img-mujer{
        width: 100%;
        object-fit: cover;
    }
}