@use "mixin";
@use './variables';


//pagina principal
.contenedor{
    background-color: variables.$variable-blue;
    position: sticky;
    top: 0;
    min-width: 98vw;
    z-index: 10;
    @include mixin.flex-center;
    .subtitulo{
        font-size: 14px;
        margin-top: 20px;
        color: aliceblue;
        
    }
    .logo{
        width: 60px;
        height: 60px;
        margin: 5px;
    }
    .bi{
        padding-right: 5px;
        color: white;
    }
    .nav{
        width: 60%;
        &-list{
            @include mixin.flex-center;
            width: 90%;
            justify-content: end;
            gap: 30px;
            font-size: 16px;
            list-style: none;
            .nav-link{
                padding: 5px;
                margin-top: 20px;
                color: white;
                &.activo{
                    border-bottom: 2px solid  rgb(167, 43, 250);
                    color: white;
                }
                }
                .nav-link:hover{
                    text-decoration: rgb(169, 9, 249) 2px underline;
                }
            }
        }
    }

    .dropdown{
        display: none;
        margin: 10px;
        .dropdown-menu{
            background-color: rgb(9, 9, 9);
            .dropdown-item{
                color: rgb(244, 238, 238);
                &:hover{
                    background-color: blue;
                    padding: 5px;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
    @media screen and (max-width: 550px){
        .dropdown{
            display: block;
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .nav{
            display: none !important;
        }
    }

.form{
    position: relative;
    margin-left: auto;
        .bi{
            position: absolute;
            right: 12px;
            top: 34%;
        }
    }


.input{
    background-color:#1a1f29;
    color: #fff;
    border: none;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 10px;
}



//pagina de videos 
.navbar1{
    position:absolute;
    min-width: 200px;
    height: 100vh;
    display: flex;
    &-nav{
        @include mixin.flex-center;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        &-item {
            list-style: none;
            color:rgb(255, 255, 255);
            &-link{
                color: rgb(255, 255, 255);
                font-size: 18px;
                text-decoration: none;
                .bi{
                    padding-right: 5px;
                }
            }
            &:hover{
                border-bottom: 2px solid blue;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .navbar1{
        @include mixin.flex-center;
        z-index: 1;
        width: 100%;
        .navbar1-nav{
            @include mixin.flex-center;
            justify-content: space-around;
            width: 100%;
            position: fixed;
            bottom: 0;
            flex-direction: row;
            min-height: 5vh;
            &-item{
                list-style: none;
                flex-wrap: wrap; 
                &-link{
                    font-size: 19px;
                }
                }
            }
        }
    }

//pagina de servicios
.navperfume{
    background-color: black;
    position: sticky;
    top: 0;
    min-width: 98vw;
    height: 80px;
    z-index: 10;
    @include mixin.flex-center;
    .subtitulo{
        font-size: 14px;
        margin-top: 20px;
        color: variables.$dark-yellow;
        
}
    .logo{
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .bi{
        padding-right: 5px;
        color: variables.$gold-accent;
    }
    .nav{
        width: 60%;
        &-list{
            @include mixin.flex-center;
            width: 90%;
            justify-content: end;
            gap: 30px;
            font-size: 16px;
            list-style: none;
            .nav-link{
                padding: 5px;
                margin-top: 20px;
                color: white;
                &.activo{
                    border-bottom: 2px solid variables.$yellow-accent;
                    color: white;
                }
                }
                .nav-link:hover{
                    text-decoration: rgb(132, 152, 1) 2px underline;
            }
        }
    }

    .dropdown .dropdown-menu .dropdown-item:hover{
        background-color: variables.$dark-yellow-bg;
    }
}

