$variable-blue:rgb(4, 0, 14);
$gold-dorado: #848404;
$yellow-accent: rgb(215, 222, 13);
$dark-yellow: rgb(89, 89, 11);
$gold-accent: rgb(177, 174, 2);
$dark-yellow-bg: rgb(34, 32, 1);

//colores base para las páginas
$pagina-bg-principal: #100514;
$pagina-bg-secundario: #35004f;
$pagina-footer-bg: #100414;
$pagina-footer-bg-oscuro: #00000f;
$pagina-texto: antiquewhite;

//variantes de uso general
$pagina-bg-oscuro: #00000f;
$pagina-bg-claro: #100414;