.body2{
    background: #000;
}
.video-container{
    position: relative;
    width: 400px;
    height: 755px;
    margin: 5px auto;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    &-box{
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
        position: relative;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (max-width: 550px){
    .video-container {
        width: 99%;
        height: 90vh;
    }
}

.acciones{
    width: 30px;
    position: absolute;
    top: 50%;
    right: 5%;
    .corazon{
        font-size: 23px;
        color: aliceblue;
        background: transparent;
        border: none;
    }
    }
    .corazon:active{
        animation: corazon 0.4s ease;
        font-size: 28px;
    }

    @keyframes corazon {
        0%{
            transform: scale(1);
        }
        25%{
            transform: scale(1.2);
        }
        50%{
            transform: scale(1.4);
        }
        75%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
    }
