@use './navbar';
@use './imagenes';
@use './mixin';
@use './footer';
@use './videos';
@use './cajas';
@use './variables';
@use './boton';
@use './Carrusel';

*{
    box-sizing: border-box;
    font-family: 'Almendra', serif;
    margin: 0;
    padding: 0;
}
