.contenedor {
  background-color: rgb(4, 0, 14);
  position: sticky;
  top: 0;
  min-width: 98vw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor .subtitulo {
  font-size: 14px;
  margin-top: 20px;
  color: aliceblue;
}
.contenedor .logo {
  width: 60px;
  height: 60px;
  margin: 5px;
}
.contenedor .bi-inicio {
  padding-right: 5px;
  color: white;
}
.contenedor .nav {
  width: 60%;
}
.contenedor .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: end;
  gap: 30px;
  font-size: 16px;
  list-style: none;
}
.contenedor .nav-list .nav-link {
  padding: 5px;
  margin-top: 20px;
  color: white;
}
.contenedor .nav-list .nav-link.activo {
  border-bottom: 2px solid rgb(167, 43, 250);
  color: white;
}
.contenedor .nav-list .nav-link:hover {
  -webkit-text-decoration: rgb(169, 9, 249) 2px underline;
          text-decoration: rgb(169, 9, 249) 2px underline;
}

.dropdown {
  display: none;
  margin: 10px;
}
.dropdown .dropdown-menu {
  background-color: rgb(9, 9, 9);
}
.dropdown .dropdown-menu .dropdown-item {
  color: rgb(244, 238, 238);
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 550px) {
  .dropdown {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .nav {
    display: none !important;
  }
}
.form {
  position: relative;
}
.form .bi-inicio {
  position: absolute;
  right: 12px;
  top: 34%;
}

.input {
  background-color: #1a1f29;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 10px;
}

.navperfume {
  background-color: black;
  position: sticky;
  top: 0;
  min-width: 98vw;
  height: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navperfume .subtitulo {
  font-size: 14px;
  margin-top: 20px;
  color: rgb(89, 89, 11);
}
.navperfume .logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.navperfume .bi-servicios {
  padding-right: 5px;
  color: rgb(177, 174, 2);
}
.navperfume .nav {
  width: 60%;
}
.navperfume .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: end;
  gap: 30px;
  font-size: 16px;
  list-style: none;
}
.navperfume .nav-list .nav-link {
  padding: 5px;
  margin-top: 20px;
  color: white;
}
.navperfume .nav-list .nav-link.activo {
  border-bottom: 2px solid rgb(215, 222, 13);
  color: white;
}
.navperfume .nav-list .nav-link:hover {
  -webkit-text-decoration: rgb(132, 152, 1) 2px underline;
          text-decoration: rgb(132, 152, 1) 2px underline;
}
.navperfume .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgb(34, 32, 1);
}

.nav-hombre {
  background-color: rgb(1, 11, 42);
  position: sticky;
  top: 0;
  min-width: 98vw;
  height: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.bi-hombre {
  padding-right: 5px;
  color: #f5f0f0;
}

.form {
  position: relative;
}
.form .bi-servicios {
  position: absolute;
  right: 12px;
  top: 34%;
}

.perfume-hombre {
  width: 60%;
}
.perfume-hombre .perfume-hombre-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: end;
  gap: 30px;
  font-size: 16px;
  list-style: none;
}
.perfume-hombre .perfume-hombre-list .perfume-hombre-link {
  text-decoration: none;
  padding: 5px;
  margin-top: 20px;
  color: #f5f0f0;
  transition: color 0.2s ease, text-decoration-color 0.2s ease;
}
.perfume-hombre .perfume-hombre-list .perfume-hombre-link.activo {
  border-bottom: 2px solid #1653ce;
}

@media screen and (max-width: 550px) {
  .dropdown {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .perfume-hombre {
    display: none !important;
  }
}
.form-hombre {
  position: relative;
}
.form-hombre .bi-hombre {
  position: absolute;
  right: 12px;
  top: 34%;
}

.buscar {
  background-color: #b2c5ff;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 10px;
}

.mujeres {
  display: flex;
  flex-direction: column;
}

.nav-mujer {
  background-color: rgb(245, 214, 240);
  position: sticky;
  top: 0;
  min-width: 98vw;
  height: 80px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.bi-mujer {
  padding-right: 5px;
  color: #910396;
}

.formula {
  position: relative;
}
.formula .bi-mujer {
  position: absolute;
  right: 12px;
  top: 34%;
}

.perfume-mujer {
  width: 60%;
}
.perfume-mujer .perfume-mujer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: end;
  gap: 30px;
  font-size: 16px;
  list-style: none;
}
.perfume-mujer .perfume-mujer-list .perfume-mujer-link {
  text-decoration: none;
  padding: 5px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
.perfume-mujer .perfume-mujer-list .perfume-mujer-link.activo {
  border-bottom: 2px solid #f95ae4;
}
.perfume-mujer .perfume-mujer-list .perfume-mujer-link:hover {
  -webkit-text-decoration: rgb(225, 103, 244) 2px underline;
          text-decoration: rgb(225, 103, 244) 2px underline;
}

.formula {
  position: relative;
}
.formula .bi-mujer {
  position: absolute;
  right: 12px;
  top: 34%;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(225, 52, 252, 0.221);
}

@media screen and (max-width: 550px) {
  .dropdown {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .perfume-mujer {
    display: none !important;
  }
}
.formula {
  position: relative;
}
.formula .bi-mujer {
  position: absolute;
  right: 12px;
  top: 34%;
}

.buscar-mujer {
  background-color: #430248;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 10px;
}

.unisex {
  display: flex;
  flex-direction: column;
}

.nav-unisex {
  background-color: rgb(250, 244, 233);
  position: sticky;
  top: 0;
  min-width: 98vw;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfume-unisex {
  width: 60%;
}
.perfume-unisex .perfume-unisex-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: end;
  gap: 30px;
  color: #000;
  font-size: 16px;
  list-style: none;
}
.perfume-unisex .perfume-unisex-list .perfume-unisex-link {
  padding: 5px;
  color: #000;
  margin-top: 20px;
  text-decoration: none;
}
.perfume-unisex .perfume-unisex-list .perfume-unisex-link.activo {
  border-bottom: 2px solid rgb(230, 204, 156);
}
.perfume-unisex .perfume-unisex-list .perfume-unisex-link:hover {
  -webkit-text-decoration: rgb(8, 8, 8) 2px underline;
          text-decoration: rgb(8, 8, 8) 2px underline;
}

.dropdown {
  display: none;
  margin: 10px;
}
.dropdown .dropdown-menu {
  background-color: #000;
}
.dropdown .unisex {
  background-color: #f3d5a1;
}
.dropdown .dropdown-item {
  color: rgb(12, 10, 10);
}
.dropdown:hover {
  padding: 5px;
  color: rgb(18, 18, 18);
}

@media screen and (max-width: 550px) {
  .dropdown {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .nav-unisex .perfume-unisex {
    display: none !important;
  }
}
.form-unisex {
  position: relative;
}
.form-unisex .bi-unisex {
  position: absolute;
  right: 12px;
  top: 34%;
}

.buscar-unisex {
  background-color: #fce8b3;
  color: #fff;
  border: none;
  padding: 5px;
  margin: 20px 10px;
  border-radius: 10px;
}

.imagen-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.titulo {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 1;
  color: aliceblue;
}
.titulo .blue {
  color: #7dd3fc;
}

.img1 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagen-mujer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen-mujer .img-mujer {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body2 {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(#100514, #35004f);
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100414;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: antiquewhite;
}
.footer .cajass-footer {
  max-width: 400px;
  padding-left: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
}
.footer .cajass-footer .bi-inicio {
  margin: 0;
  color: white;
}
.footer .cajass-footer .logo {
  display: block;
  margin: 0;
  width: 64px;
  height: 64px;
}

.copy {
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 14px;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cajass-footer {
    width: 100%;
    min-width: 0;
    padding-left: 0;
    align-items: flex-start;
    text-align: left;
  }
  .cajass-footer:first-child {
    align-items: center;
    text-align: center;
  }
}
.listas {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.listas .bi-hombre {
  color: white;
}

.iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.iconos .itemn {
  padding: 10px;
  align-items: center;
}
.iconos .itemn .inicio {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .peque {
    font-size: 14px;
  }
  .listas {
    font-size: 16px;
  }
}
.p {
  font-size: 14px;
  text-align: center;
}

.footer .cajass-footer:last-child, .footeralto .caja-footer:last-child, .footeralto-hombre .hombre-footer:last-child, .footeralto-mujeres .mujeres-footer:last-child {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footeralto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: antiquewhite;
}
.footeralto .caja-footer {
  max-width: 400px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
}
.footeralto .caja-footer .bi {
  padding-right: 10px;
  color: white;
  color: rgb(177, 174, 2);
}
.footeralto .caja-footer .logo {
  display: block;
  margin: auto;
  width: 64px;
  height: 64px;
}
.footeralto .caja-footer .marcador {
  margin: 30px;
  align-self: flex-start;
}
.footeralto .caja-footer .checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
  align-self: flex-start;
}

.copy {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
}

.enviar {
  background-color: rgb(215, 222, 13);
  cursor: pointer;
  color: #fff;
  border: none;
  width: 60%;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .footeralto {
    width: 100%;
    flex-direction: column;
  }
  .footeralto .caja-footer {
    width: 100%;
    min-width: 0;
  }
}
.iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.iconos .itemn {
  padding: 10px;
}
.iconos .itemn .a {
  color: rgb(177, 174, 2);
}

.correo {
  background-color: #1a1f29;
  color: #fff;
  border: none;
  width: 60%;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

.listas {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listas .bi-footer {
  padding-right: 10px;
  color: white;
  color: rgb(177, 174, 2);
}

.p {
  font-size: 14px;
  text-align: center;
}

.footeralto-hombre {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000f;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: antiquewhite;
}
.footeralto-hombre .hombre-footer {
  max-width: 400px;
  padding-left: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
}
.footeralto-hombre .hombre-footer .bi-hombre {
  margin: 0;
  color: white;
}
.footeralto-hombre .hombre-footer .logo {
  display: block;
  margin: auto;
  width: 64px;
  height: 64px;
}

.copy {
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .footeralto-hombre {
    width: 100%;
    flex-direction: column;
  }
  .footeralto-hombre .hombre-footer {
    width: 100%;
    min-width: 0;
  }
}
.listas {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.listas .bi-hombre {
  color: white;
}

@media screen and (max-width: 600px) {
  .peque {
    font-size: 14px;
  }
  .listas {
    font-size: 16px;
  }
}
.p {
  font-size: 14px;
  text-align: center;
}

.footeralto-mujeres {
  margin-top: 30px;
  display: flex;
  background-color: rgb(44, 0, 31);
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: antiquewhite;
}
.footeralto-mujeres .mujeres-footer {
  max-width: 400px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
}
.footeralto-mujeres .mujeres-footer .bi-mujer {
  text-align: center;
  color: rgb(255, 255, 255);
}
.footeralto-mujeres .mujeres-footer .logo {
  display: block;
  margin: auto;
  width: 64px;
  height: 64px;
}

.copy {
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: 14px;
  padding-top: 30px;
}

@media screen and (max-width: 600px) {
  .footeralto-mujeres {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footeralto-mujeres .mujeres-footer {
    width: 100%;
    min-width: 0;
    padding-left: 0;
    align-items: flex-start;
    text-align: left;
  }
  .footeralto-mujeres .mujeres-footer:first-child {
    align-items: center;
    text-align: center;
  }
  .footeralto-mujeres .mujeres-footer:first-child .iconos {
    justify-content: center;
    width: 100%;
  }
  .footeralto-mujeres .mujeres-footer:first-child .fragancia {
    text-align: center;
  }
}
.listas {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.listas .bi-mujer {
  color: white;
}

.p {
  font-size: 14px;
  text-align: center;
}

.footeralto-unisex {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(19, 8, 0);
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: antiquewhite;
}
.footeralto-unisex .unisex-footer {
  max-width: 400px;
  margin-top: 10px;
}
.footeralto-unisex .unisex-footer .bi-mujer {
  text-align: center;
  color: rgb(255, 255, 255);
}
.footeralto-unisex .unisex-footer .logo {
  display: block;
  margin: auto;
  width: 64px;
  height: 64px;
}

.copy {
  grid-column: 1/-1;
  text-align: center;
  justify-self: center;
  margin: top 20px;
  width: 100%;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .footeralto-unisex {
    grid-template-columns: 1fr;
  }
  .copy {
    grid-column: 1;
  }
}
.listas {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}
.listas .bi-mujer {
  color: white;
}

.caja {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.caja .box {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px rgba(6, 6, 6, 0.4);
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  margin: 10px;
}
.caja .box .comprar {
  border-radius: 10px;
  border: 2px solid rgb(169, 9, 249);
  background-color: black;
  width: 100%;
  padding: 5px;
}
.caja .box .enlace {
  color: rgb(169, 9, 249);
  text-decoration: none;
}
.caja .box .perfumes {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 300px;
  max-height: 200px;
}

.subtitulo {
  color: antiquewhite;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .caja {
    flex-direction: column;
    align-items: center;
  }
}
.caja-tarjetas {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 1, 12);
}
.caja-tarjetas .sin-tarjeta {
  width: 80%;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
}
.caja-tarjetas .tarjeta {
  width: 80%;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid rgb(138, 4, 228);
}

@media screen and (max-width: 600px) {
  .caja-tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-items: center;
  }
  .sin-tarjeta, .tarjeta {
    border-bottom: 2px solid rgb(138, 4, 228);
    border-left: none !important;
    width: 80%;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
  }
}
.texto-tarjeta {
  text-align: center;
  font-size: 18px;
  color: rgb(152, 20, 247);
}

.logo {
  width: 50px;
  height: 50px;
}

.parrafo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  padding-left: 10px;
}

.fragancia {
  padding: 10px;
  text-align: center;
}

.caja-perfumes {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(12, 12, 12);
}
.caja-perfumes .separacion {
  flex: 1 1 220px;
  max-width: 350px;
  margin: 0;
  border-left: 2px rgb(215, 222, 13) solid;
}
.caja-perfumes .none {
  flex: 1 1 220px;
  max-width: 350px;
  margin: 0;
}

.bi {
  display: block;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 234, 0);
}

.logo {
  width: 50px;
  height: 50px;
}

.texto {
  text-align: center;
  font-size: 18px;
  color: rgb(255, 234, 0);
}

.parrafo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  padding-left: 10px;
}

.fragancia {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .caja-perfumes {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .separacion,
  .none {
    border-left: none !important;
    border-bottom: 1px rgb(215, 222, 13) solid;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.hombres {
  display: flex;
  background-color: rgb(1, 13, 68);
  flex-direction: column;
}

.titulo-hombre {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.caja-hombres {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.caja-hombres .perfume-hombres {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  border: solid 2px rgb(0, 0, 0);
  max-width: 300px;
  margin: 5px;
}
.caja-hombres .perfume-hombre-img {
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.caja-hombres .nombre-perfume {
  color: rgb(255, 255, 255);
  padding-top: 10px;
  font-size: 18px;
  text-align: center;
}
.caja-hombres .descripcion-perfume {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.caja-hombres .precio-perfume {
  color: rgb(255, 255, 255);
  text-align: center;
}
.caja-hombres .ofertas {
  color: rgb(255, 0, 0);
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 12px;
}
.caja-hombres .cuotas {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 12px;
}
.caja-hombres .comprar-hombres {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(3, 3, 113);
  background-color: rgb(1, 1, 30);
  width: 90%;
  padding: 5px;
}

@media screen and (max-width: 850px) {
  .caja-hombres {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .nombre-perfume {
    font-size: 14px;
  }
  .descripcion-perfume {
    font-size: 10px;
  }
  .precio-perfume {
    font-size: 10px;
  }
  .ofertas {
    font-size: 8px;
  }
  .cuotas {
    font-size: 8px;
  }
}
.titulo-mujer {
  text-align: center;
  padding-top: 20px;
  color: rgb(155, 0, 85);
}

.caja-mujeres {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.caja-mujeres .perfume-mujeres {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  border: 2px #f9c6ed solid;
  max-width: 300px;
  margin: 5px;
}
.caja-mujeres .perfume-mujer-img {
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.caja-mujeres .nombre-perfume {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
}
.caja-mujeres .descripcion-perfume {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
}
.caja-mujeres .precio-perfume {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.caja-mujeres .ofertas {
  color: rgb(255, 0, 0);
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 12px;
}
.caja-mujeres .cuotas {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 12px;
}
.caja-mujeres .comprar-mujer {
  border-radius: 10px;
  border: 2px solid rgb(78, 0, 43);
  background-color: rgb(243, 140, 236);
  width: 90%;
  padding: 5px;
}

@media screen and (max-width: 850px) {
  .caja-mujeres {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .nombre-perfume {
    font-size: 14px;
  }
  .descripcion-perfume {
    font-size: 10px;
  }
  .precio-perfume {
    font-size: 10px;
  }
  .ofertas {
    font-size: 8px;
  }
  .cuotas {
    font-size: 8px;
  }
}
.titulo-unisex {
  text-align: center;
  padding-top: 20px;
  color: rgb(8, 8, 8);
}

.caja-unisex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.caja-unisex .unisex-perfume {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  border: 2px #f9ddc6 solid;
  max-width: 300px;
  margin: 5px;
}
.caja-unisex .perfume-unisex-img {
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 250px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.caja-unisex .nombre-perfume {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-align: center;
}
.caja-unisex .descripcion-perfume {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
}
.caja-unisex .precio-perfume {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}
.caja-unisex .ofertas {
  color: rgb(255, 0, 0);
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 12px;
}
.caja-unisex .cuotas {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 12px;
}
.caja-unisex .comprar-unisex {
  border-radius: 10px;
  border: 2px solid rgb(224, 210, 174);
  background-color: rgb(236, 205, 139);
  width: 90%;
  padding: 5px;
}

@media screen and (max-width: 850px) {
  .caja-mujeres {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .nombre-perfume {
    font-size: 14px;
  }
  .descripcion-perfume {
    font-size: 10px;
  }
  .precio-perfume {
    font-size: 10px;
  }
  .ofertas {
    font-size: 8px;
  }
  .cuotas {
    font-size: 8px;
  }
}
.boton {
  position: absolute;
  top: 45%;
  left: 160px;
  color: bisque;
  background-color: transparent;
  z-index: 9;
  padding: 3px 10px;
  border-radius: 5px;
  overflow: hidden;
}
.boton::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-100% - 25px);
  width: 100%;
  border-bottom: 30px #1e032d solid;
  border-right: 26px transparent solid;
  z-index: 8;
  transition: 1s ease-in-out all;
}
.boton:hover::after {
  left: 0;
}
.boton:hover {
  color: rgb(24, 24, 24);
}
.boton .buton {
  position: relative;
  display: inline-block;
  color: rgb(245, 245, 248);
  text-decoration: none;
  z-index: 9;
}

.boton-violet {
  position: absolute;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: #a86ec9;
  border: none;
  left: 5%;
  top: 45%;
}
.boton-violet .buton {
  position: relative;
  display: inline-block;
  color: rgb(245, 245, 248);
  text-decoration: none;
  z-index: 9;
}

@media screen and (max-width: 600px) {
  .boton {
    left: 100px;
    top: 65%;
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .boton-violet {
    top: 65%;
    font-size: 10px;
  }
}
.perfume {
  position: absolute;
  bottom: 10%;
  left: 100px;
  background-color: transparent;
  z-index: 9;
  padding: 3px 20px;
  border: 2px solid rgb(215, 222, 13);
  border-radius: 5px;
}

.buton {
  text-decoration: none;
  color: rgb(215, 222, 13);
}

@media screen and (max-width: 600px) {
  .perfume {
    padding: 3px 6px;
    font-size: 10px;
    position: absolute;
    bottom: 10%;
    left: 7%;
  }
}
.div-conteiner {
  overflow: hidden;
  margin: auto;
  width: 80%;
  border-radius: 8px;
  background-color: rgb(245, 245, 245);
  padding: 20px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.div-conteiner .div-img {
  display: flex;
  gap: 20px;
  width: -moz-max-content;
  width: max-content;
  animation: animate 20s linear infinite;
}
.div-conteiner .div-img .carrusel {
  min-width: 18px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}
.div-conteiner .div-img .carrusel:hover {
  transform: scale(1.1);
}

@keyframes animate {
  to {
    transform: translateX(-50%);
  }
}
.unisex footer .copy {
  order: 99;
  flex: 0 0 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Almendra", serif;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=estilos.css.map */